body{
  margin: 0%;
  font-family: sans-serif;
}
#navbar{
background-color:#222;
color: white;
display: flex;
padding: 20px;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}
#navbar h2{
   margin: 0;
   font-size: 24px;
}
#navbar p{
    margin: 5px 0 0 0;
    font-size: 14px;
    color: #ccc;
}
.links a{
margin-left: 20px;
text-decoration: none;
color: white;
background-color: #444;
padding: 8px 12px;
border-radius: 4px;
transition: backgroun-color 0.3s;
}
.nav-links a:hover {
  background-color: #666;
}
#home-page{
    padding: 40px;
    
}